body{
    margin: 0;
}
header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(47, 45, 45);
    color: #eee;
    width: 100%;
    padding: 3px;
    font-size: 12px;
    text-align: center;

}


button.add,
button.remove {
    border: none;
    font-size: 20px;
    background-color: white;
}

.remove {
    color: red
}

.add:hover {
    color: rgb(157, 146, 146);
}

.remove:hover {
    color: rgb(233, 189, 189);
}

.remove:active {
    color: red;
}


.add:active {
    color: rgb(37, 35, 35);
}
footer {
    position: fixed;
    bottom:0;
    background: linear-gradient(to bottom, #00ff00 0%, #99ffcc 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart {
    font-size: 22px;
    color: black;
    text-decoration: none;
    text-align: center;
}
.TotalValue, .TotalItems {
    font-size: 16px;
    color: black;
    margin: 0;
    font-weight: bold;
}
.TotalValue {
    margin-right: 40px;
}

.OneTwo {
    width: 50px;

}

.TwoOne {
    width: 100px;
}

.OneOne {
    width: 100px;

}