body {
    margin: 0;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 170, 226);
    color: #000000;
    width: 100%;
    padding: 10px 20px;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    position:fixed;
}

header h1 {
    flex-grow: 1;
}

#popup h2 {
    text-align: center
}

#help {
    color: #000000;
    background-color: rgb(0, 170, 226);
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-right: 50px;
}


#help:hover {
    color: rgba(162, 135, 135, 0.166);
}

#help:active {

    color: rgb(28, 17, 17, 0.166);

}


#closeBtn:hover {
    color: rgb(255, 0, 0, 0.373);
}

#closeBtn:active {
    color: rgba(64, 6, 6, 0.373);
}


#closeBtn {
    border: none;
    background-color: rgb(47, 45, 45);
    color: red;
    font-size: 15px;

}


#popup {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 40px;
    width: 300px;
    height: 450px;
    padding: 15px;
    z-index: 9;
    background-color: rgb(47, 45, 45);
    color: #eee;
    text-align: start;
    line-height: 1.7;
    font-size: 12px;
    border-radius: 5px;
}


button.add,
button.remove {
    border: none;
    font-size: 23px;
    background-color: white;
}

.remove {
    color: red
}

.add:hover {
    color: rgb(157, 146, 146);
}

.remove:hover {
    color: rgb(233, 189, 189);
}

.remove:active {
    color: red;
}


.add:active {
    color: rgb(37, 35, 35);
}

footer {
    position: fixed;
    bottom: 0;
    background: linear-gradient(to bottom, #0282f2 0%, #99ffcc 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart {
    font-size: 22px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.TotalValue,
.TotalItems {
    font-size: 16px;
    color: black;
    margin: 0;
    font-weight: bold;
}

.TotalValue {
    margin-right: 40px;
}

.OneTwo {
    width: 50px;

}

.TwoOne {
    width: 100px;
}

.OneOne {
    width: 100px;

}


.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 60px;
}

.product {
    flex: 1 1 calc(33.33% - 20px);
    
    max-width: calc(33.33% - 20px);
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    .product {
        flex: 1 1 calc(45% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .product {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.product img {
    width: 250px;   /* Fast bredd på 250px */
    height: 250px;  /* Fast höjd på 250px */
    object-fit: contain; /* Bevarar proportioner utan beskärning */
}

